*{
	font-family: 'Arial', sans-serif;
}

h1, h2{
	font-size: 22px;
	font-weight: bold;
	color: #3155A4;
}

header {
	background: white;
}

nav {
	background: #fff;
	padding: 10px;
	box-shadow: 0 0 8px -3px rgba(0,0,0,0.2);
	border-radius: 4px;
}